<!DOCTYPE html>
<html>
<head>
	<title>Projects Show!!!</title>
	<LINK href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<div>
	{%for project in projects%}
		<div>{{project.name}}</div>
		<div>
			<ul>
				<!-- maybe come back to optimize. -->
				{% for category in categories %}
					{% if category.project_id == project.id %}
						<li>{{category.name}}</li>
						{% endif %}
					{% endfor %}
			</ul>
		</div>
		{% endfor %}
</div>



</body>
</html>