<!DOCTYPE html>
<html>
<head>
	<title>Projects Show!!!</title>
	<LINK href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<div>Projects</div>

<!--  # for i in  range(len(projects)//3+1)  -->

<div>
	<div>
		FUCK
		<div>
			<a href="{{ url_for('projects_new', project_id = 1) }}">New</a>
			<a href="{{ url_for('projects_edit', project_id = 1) }}">Edit</a>
			<a href="{{ url_for('projects_delete', project_id = 1) }}">Delete</a>
		</div>
	</div>
	<div>THIS</div>
	<div>TOWN</div>
</div>

<!--  # endfor  -->

</body>
</html>